label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.records{
    width: 100%;
    user-select: none;
    text-align: left;
}

.records th{
    height: 50px;
    background-color: var(--primary-color);
    padding-left: 20px;
    font-size: 1.2rem;    
}
.records td{
    height: 50px;
    padding-left: 20px;
}

.records th:last-child,
.records td:last-child{
    padding: 0;
    min-width: 140px;
    text-align: center;
}

@media(max-width:480px){
    .records{
        border-spacing: 5px;
    }
    .records thead{
        display:none;
    }
    
    .records td:not(:first-child){
        display:flex;
        justify-content: space-between;
        padding: 0 20px;
    }

    .records td{
        margin:10px 0;
    }

}
    main{
        padding: 15px;
    }
   button#btn-cad{
        background-color: green;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        float: right;
        margin: 15px;
    }
    h1.alterar{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(71,138,201);
        font-weight: bold;
    }
    button.btn{
        background-color: rgb(71,138,201) ;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }